@charset "utf-8";
/*base*/
body, h1, h2, h3, h4, h5, h6, section, ul , ol, dl, dt, dd, p, button{margin:0;padding:0;font-family: 'Noto Sans KR',sans-serif;font-size:14px}
li{list-style:none}
a{color:#333;text-decoration:none}
:root{
  --bagicColor:#ddd;
  --activeColor:#efab41;
}
.wrap{width:600px;margin:0 auto}

/*tab*/
.tab .tab_list{display:flex}
.tab .tab_list>li{flex:1;height:50px;}
.tab .tab_list>li a{display:block;background-color:var(--bagicColor);text-align:center;line-height:50px}
.tab .tab_list>.on a{border-color:var(--activeColor);background-color:var(--activeColor)}
.tab .tab_panel{display:none;padding:1rem 0}
.tab .tab_panel.on{display:block}

/*scroll-tab*/
.scroll_area{width:360px;}
.scroll_list{display:flex;overflow-x:auto;position:relative}
.scroll_list>li{flex:1;white-space:nowrap;margin-left:5px}
.scroll_list>li:first-child{margin-left:0}
.scroll_list>li>a{display:block;height:35px;padding:0 10px;border:1px solid var(--bagicColor);border-radius:50px;background-color:#fff;line-height:35px}
.scroll_list>li>a:before{content:'#'}
.scroll_list>.on a{border-color:var(--activeColor);background-color:var(--activeColor)}

/*평점*/
.review_area{padding:50px 0;text-align:center;}
.reviw_area .tit{font-size:20px;}
.star_item .star{display:inline-block;width:50px;height:50px;background:url(img/btn_star.png) no-repeat 0 0;background-size:50px 50px;cursor:pointer;}
.star_item .star.on{background:url(img/btn_star_on.png) no-repeat 0 0;background-size:50px 50px;}

.default, .star_text{display:inline-block;padding-top:10px;color:#666;}
.star_inner .star_text{padding-left:25px;background:url(img/ico_face01.png) no-repeat 0 10px;background-size:20px 20px;}
.star_inner .star_text.on{display:inline-block;}

/*전체동의*/
.agree_box{padding:20px;border:1px solid var(--bagicColor);border-radius:12px;}
.agree_box .check_all{height:50px;line-height:50px;border-bottom:1px solid var(--bagicColor);}
.agree_box .check_list>li{padding:20px 0;}